

.san{
	width:210px;
	height:255px;
	margin-top:10px;
	float:left;
	margin-left:20px;
}
.san:hover{
	box-shadow: 3px 3px 15px 3px blue ;
	
}

.xiang:hover{
	  transform:translatey(-10px);
}

.er{
	width:210px;
	height:255px;
	margin-top: 10px;
	float:right;
	margin-right:20px
}
.zimger{
	width:210px;
	height: 155px;
	overflow: hidden;
}
 .imgs{
 	display: block;
	width:210px;
	height:155px;	
}
.imgs:hover{
	 transform:scale(1.1,1.1);
	transition:all 0.5s 
}

.san .xiang{
	display:block;
	width:210px;
	height:60px;
	overflow: hidden;
	color:#000
}
.san .xiang .xiang1{
	display: block;
	width:210px;
	height:100px
}
.san .qian{
	float:left;
	margin-top:10px;
	margin-left:5px;
	color:#f00
}
.san .qiang{
	width:68px;
	height:24px;
	background:#ea1a56;
	color:#fff;
	border-radius:22px ;
	float:right;
	margin-top:10px;
	margin-right:5px;
	text-align: center;
	line-height:24px;
	cursor:pointer
}

