.yi{
	width:210px;
	height:255px;
	margin-top:10px;
	float:left;
	margin-left:20px;
}
.yi:hover{
	box-shadow: 3px 3px 15px 3px blue ;
	
}

.xiang:hover{
	  transform:translatey(-10px);
}
.er{
	width:210px;
	height:255px;
	margin-top: 10px;
	float:right;
	margin-right:20px
}
.imgs{
	width:210px;
	height:155px;	
}
.xiang{
	display:block;
	width:210px;
	height:60px;
	overflow: hidden
}

.qian{
	float:left;
	margin-top:10px;
	margin-left:5px;
	color:#f00
}
.qiang{
	width:68px;
	height:24px;
	background:#ea1a56;
	border-radius:22px ;
	float:right;
	margin-top:10px;
	margin-right:5px;
	text-align: center;
	line-height:24px;
	cursor:pointer
}

