.box{
	width:100%;
	height:20px;
	background:#f7f7f7
}
.box1{
	margin-left:100px;
	width:150px;
	float:left
}
.ding{
	margin-right:100px;
	width:190px;
	float:right
}
.nav{
	color:#000
}
.nav:hover{
	color:#f00
}

.youc{
	margin:0;
	width:40px;
	height:100%;
	position: fixed;
	z-index: 99999;
	right:0;
	top:0;
	background:#000
}


.topsection{
    width: 1240px;
    margin: auto;
    padding-top: 30px;
    height:75px;
}
.topsection img{
    float: left;
    
}
.btn{
	width:600px;
	margin-left:250px
}
.topimg{
    width: 150px;
    height:50px;
    position: absolute;
    right:100px;
    top:63px;
}

.topimg h2{
    color:red;
    position: relative;
    right:15px;
    top:-25px;
}
.topimg span{
    color:black;
    position: relative;
    right:2px;
    top:-33px;
}

.ul1 li{
    float:left;
    margin-left:35px;
  
}
.ul1{
    margin-left:10px;
    margin-top:40px;
    font-weight: 400;
    font-family: "PingFang SC","Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    
}
.ul1 li a {
    color:black;
    font-size: 16px
}
 
.ul1 a:hover{
    color:red;
}
.nav{
	width:100%;
	height:30px
}
.lunbo{
	width:100%;
	height:450px;

}

.zong{
	width:100%;
	
}
.laba{
	float:left;
	width:50px;
	margin-top:5px;
	margin-left:350px
}
.wenzi{
	margin:10px 0px;

}
.zujian{
	width:1180px;
	height:310px;

	margin:0 auto
}
.zujian1{
	margin:10px 25px;
	padding-bottom: 5px;
	border-bottom:1px solid #ccc;
	color:#000
}
.zujian1:hover{
	border-bottom:1px solid #f00;
	color:#f00
}
.succers{
	width:1150px;
	height:560px;
	margin:20px auto;
	
}
.succersleft{
	float:left
}
.succersright{
	float:right;
	width:865px;
	height:560px;

}
.succerss{
	width:263px;
	height:260px;
	float:left;
	margin:13px 12px;
	
}
.zimger{
	width:263px;
	height: 190px;
	overflow: hidden;
}
.imger{
	display: block;
	width:263px;
	height:190px;
	
}
.imger:hover{
	 transform:scale(1.2,1.2);
	transition:all 0.5s linear
}
.xiangq{
	display: block;
	width:263px;
	height:46px;
	overflow: hidden;
	color:#000
}
.weizhi{
	float:left;
	margin-left:10px;
	color:#000
}
.many{
	float:right;
	margin-right:10px;
	color:#f00
}
.situ{
	width:1140px;
	height:100px;
	margin:10px auto
}
.shangm{
	width:100%;
	height:30px;
	background:#fff8fa;
	border-bottom:3px solid #EA1A56
}
.footer{
	width:1130px;
	height:150px;
	margin:30px auto
}
.footer1{
	width:1130px;
	height:40px;
}
.imgs{
	margin-left:65px;
	cursor: pointer;
}
.list1{
	margin:0 10px;
	color:#000
}
.list2{
	width:850px;
	margin-left:145px;
	height:50px
}
.list{
	width:460px;
	display: block;
	margin:30px 325px 10px;
}
