.box{
	width:1160px;
	height:126px;
	margin:0 auto
}

.imgs{
	margin-top:44px;
	margin-left:10px;
	float:left
}

.imgs1{
	float:right;
	margin-top:50px;
	margin-right:10px
}

.box1{
	width:100%;
	height:548px;
	background:url(http://r.uzaicdn.com/content/store/images/user/main1.jpg) no-repeat center;
	overflow: hidden;
}
h2{
	text-align: center;
	margin-top:10px
}
.forms{
	width:780px;
	height:340px;
	margin:130px auto;
	background:#fff;
	overflow: hidden;
	border-radius: 30px;
}
.forms1{
	display: block;
	width:400px;
	height:50px;
	margin:0px 190px;
	margin-top:50px
}
.zheng{
	margin-left:195px;
	color:#f00;
	font-size:16px
}
.forms2{
	display: block;
	width:400px;
	height:50px;
	margin:10px 190px
}
.btn{
	width:400px;
	height:50px;
	margin:10px 190px
}
.li{
	margin-left:700px;
	cursor:pointer
}
.list{
	width:460px;
	display: block;
	margin:30px 450px 10px;
}
.list1{
	margin:0 10px;
	color:#000
}
.list2{
	width:850px;
	margin-left:280px;
	height:50px
}
